# ©AngelaMos | 2026
# .gitignore

.env
.env.local
.env.*.local
.env.prod

backend/tmp/
backend/bin/
backend/coverage.out
backend/coverage.html
backend/keys/


frontend/dist/
frontend/node_modules/
frontend/.vite/
frontend/.pnpm-store/

docs/
